/* Header */

header{
    width:95%;
    height: 200px;
    background-color: #dab5dd;
    color: rgb(56, 16, 59);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    font-family:Arial;
    
}

#mainTitle{
    text-align: center;
    padding: 50px;
    font-size: 80px;
    font-family:Arial;
}

nav{
    width:95%;
    float:inline-start;   
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 50px;
    margin-right: 50px;
    overflow: hidden;
    font-size: 24px;
    font-family:Arial;
}

nav li{
    list-style-type: none;
    float: left;
    width: 20%;
    padding:4px;
    background-color: #c2c7ca;
    color: black;

}

.navitemActive{
    background-color: rgb(52, 53, 54);
    color:white;
    
    
}

.navitemActive a{
    color:rgb(255, 255, 255);
    
}


nav li:hover{
    background-color: rgb(52, 53, 54);
    color:white;
}

nav li a:hover{
    color:white;
}

nav li a{
    text-decoration: none;
    color: black;

    
}
p{
    font-size: small;
}
button{
    height:84px;
    width: 100px;
    font-size: 24px;
    font-family:Arial;
}
#btn{
    height:112px
}
label{
    font-size: 24px;
    font-family:Arial;
}
#tSize,#tFont,#tcolours{
    font-size: 24px;
    font-family:Arial;
}

#dark{
    height:84px;
}

#light{
    height:84px;
}

/* Emergency Help Page */ 

#emergencyTitle{
    text-align:center
}

aside {
    width: 30%;
    float: right;
    margin-right: 5px;
    border-radius: 5px;
    /*background-color: #5FBDFF;
    box-shadow: 2px 2px 5px black;*/
  }

.rightCol{
    background-color: #b4b2b2d7;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 2px;
    margin: 10px;
    width: 48%;
    height:fit-content;
    float: right;
}

.leftCol{
    background-color: #b4b2b2d7;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 2px;
    margin: 10px;
    width: 48%;
    height:fit-content;
    float: left;
}

#emerpage{
    text-align: center;
    background-color: #888686d7;
    padding: 5px;
}

#panicbtn{
    text-align: center;
    font-size: 50px;
    background-color: #fc0404d7;
    padding: 10px;
}

#listitem{
    font-size: 20px;
}

#quickexercise{
    font-size: 20px;
    background-color: #888686d7;
    padding: 5px;
}

iframe{
    width: 100%;
    height:500px;
}

#supportbtn{
    position:fixed;
    text-align: center;
    font-size: 44px;
    background-color: #da8fdf;
    padding: 10px;
    margin-right:20px;
    bottom: 0px;
    right:0px;
    filter: drop-shadow(4px 4px 8px rgba(0,0,0,0.2));
    border-radius:25px;
    width:300px;
    font-family:Arial;
    
}

#supportbtn a{
    text-decoration: none;
    color:black;
}

.container {
    width: 400px;
    height: 300px;
    margin-top:64px;
}
.containerInner {
    background-color: #dab5dd;
    width: 400px;
    height: 200px;
    padding:10px;
    margin-bottom:40px;
}
.button{
    background-color: #dab5dd;
    width: 300px;
    margin-left:50px;
    border-radius: 25px;
    font-size: 32px;
    padding-bottom:5px;
    border:#dab5dd;
    filter: drop-shadow(4px 4px 8px rgba(0,0,0,0.2));
}
.footerText{
    font-size:16px; 
    color:darkgray; 
    text-align:center;
    margin-top:64px;
}

#content{
    text-align:left;
    margin-left: 100px;
}
p{
    font-size: 24px;
}


